/* Style the buttons */
#filter-button button {
    margin: auto;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
  
/* Add a light grey background on mouse-over */
#filter-button button:hover {
    background-color: #ddd;
}
  
/* Add a dark background to the active button */
#filter-button button.active {
    background-color: #666;
    color: white;
}
  