body{
    font-family: Schoolbell;

}
.navbar-inverse{
    background-color: #041F38; 
    text-align: center;
}

navbar-nav{
    text-align: center;
}
#logoRobo{
    float: left;
    margin-top: 1px;
    margin-left: 20px;
    cursor: pointer;
}
#bs-example-navbar-collapse-1{
    float: right; 
}

.input-group{
    border-radius: 100%; 
    float: left;
    vertical-align: middle;
}
#Search{
    margin-top: 8px;
    border-radius: 300px; 
}

#CacaLivro{
    font-family: Schoolbell;
    font-size: 200%; 
}

.btn-primary{
    float: left;
}

#form1{
    border-radius:20px;
}
.navbar-brand{
    font: Schoolbell; 
}

.title-book{
    color: #041F38;
    font-size: x-large;
}

.mg-b-30 {
    margin-bottom: 30px;
}

.alt{
    align-items: center;
}
#TextoSuperior{
    font-family: Schoolbell;
    text-align: center;
    font-size: 160%;
    color: #041F38;
}
.fa-star{
    color: rgb(104, 101, 101);
    font-size: 30px;
}
.checked {
    color: #041F38;
  }

.shop-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    align-items: center;
}
.shop-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.shop-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.shop-item:hover .info {
    background-color: #E0F2FF;
}
.shop-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.shop-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #041F38;
}

.lead{
    float: center;
}

.shop-item .info .rating
{
    color: #777;
}

.shop-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.shop-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.price .col-md-6{
    color:red; 
}

.shop-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.shop-item .separator p i
{
    margin-right: 5px;
}
.shop-item .btn-add
{
    width: 50%;
    float: left;
}

.shop-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.shop-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
#menu{
    margin-top: 18px;
    color: white; 
}

    .panel {
        border: none;
        box-shadow: none;
    }
    
    .panel-heading {
        border-color:#eff2f7 ;
        font-size: 16px;
        font-weight: 300;
    }
    
    .panel-title {
        color: #2A3542;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .prod-cat li a{
        border-bottom: 1px dashed #d9d9d9;
    }
    
    .prod-cat li a {
        color: #3b3b3b;
    }
    
    .prod-cat li ul {
        margin-left: 30px;
    }
    
    .prod-cat li ul li a{
        border-bottom:none;
    }
    .prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
        background: none;
        color: #ff7261;
    }
    
    .pro-lab{
        margin-right: 20px;
        font-weight: normal;
    }
    
    .pro-sort {
        padding-right: 20px;
        float: left;
    }
    
    .pro-page-list {
        margin: 5px 0 0 0;
    }
    
    .product-list img{
        width: 100%;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
    }
    
    .product-list .pro-img-box {
        position: relative;
    }
    .adtocart {
        background: #fc5959;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #fff;
        display: inline-block;
        text-align: center;
        border: 3px solid #fff;
        left: 45%;
        bottom: -25px;
        position: absolute;
    }
    
    .adtocart i{
        color: #fff;
        font-size: 25px;
        line-height: 42px;
    }
    
    .pro-title {
        color: #5A5A5A;
        display: inline-block;
        margin-top: 20px;
        font-size: 16px;
    }
    
    .product-list .price {
        color:#fc5959 ;
        font-size: 15px;
    }
    
    .pro-img-details {
        margin-left: -15px;
    }
    
    .pro-img-details img {
        width: 100%;
    }
    
    .pro-d-title {
        font-size: 16px;
        margin-top: 0;
    }
    
    .product_meta {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        margin: 15px 0;
    }
    
    .product_meta span {
        display: block;
        margin-bottom: 10px;
    }
    .product_meta a, .pro-price{
        color:#fc5959 ;
    }
    
    .pro-price, .amount-old {
        font-size: 18px;
        padding: 0 10px;
    }
    
    .amount-old {
        text-decoration: line-through;
    }
    
    .quantity {
        width: 120px;
    }
    
    .pro-img-list {
        margin: 10px 0 0 -15px;
        width: 100%;
        display: inline-block;
    }
    
    .pro-img-list a {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .pro-d-head {
        font-size: 18px;
        font-weight: 300;
    }